<nav>
  <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/result" routerLinkActive="active">Results</a>
    </li>
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/favorite" routerLinkActive="active">Favorites</a>-->
<!--    </li>-->
  </ul>
</nav>

<router-outlet></router-outlet>
<!--<div [@routeAnimations]="prepareRoute(outlet)">-->
<!--  <router-outlet #outlet="outlet"></router-outlet>-->
<!--</div>-->
